@import "../../scss/variables.scss";

.containerItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 2.5rem 1rem $whiteGrey;
  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .counterDetail {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .divButtonCardDetail {
    width: 50%;
    .buttonCardDetail {
      background: $red;
      padding: 0.625rem;
      display: inline-block;
      outline: 0;
      border: 0;
      width: 100%;
      margin: -0.0625rem;
      border-radius: 0.25rem;
      letter-spacing: 0.0625rem;
      color: $white;
      cursor: pointer;
      &:hover {
        background: rgba($redDark, 0.5);
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  .containerItem {
    display: flex;
    flex-direction: column;
    .product {
      .divButtonCardDetail {
        width: 100%;
      }
    }
  }
}
