@import "../../scss/variables.scss";
.cardItem {
  margin: 1rem;
  display: flex;
  text-align: center;
  align-content: center;
  z-index: 0;
  .cardPrice {
    font-weight: bolder;
    color: #000000;
    border-radius: 1rem;
  }
  .buttonItem {
    background-color: $red;
    width: 100%;
  }
}
