@import "../../scss/variables.scss";

footer {
  background-color: $dark;
  padding: 1rem;
  .divContainer {
    .divFooter {
      display: flex;
      justify-content: space-between;
      .divFooterTitle {
        color: $white;
        font-family: "Open Sans", serif;
        font-size: 1em;
        font-weight: bolder;
      }
      .divFooterList {
        margin: 0%;
        padding: 0%;
        list-style-type: none;
        color: grey;
        li:hover {
          cursor: pointer;
          color: $redDark;
        }
        .iconsFooter {
          font-size: 1.4em;
        }
      }
    }
    .divNombre {
      margin-top: 2rem;
      text-align: center;
      .linkedinLink {
        color: grey;
        .linkedinIcon {
          font-size: 1.3em;
          &:hover {
            cursor: pointer;
            color: $redDark;
          }
        }
      }
    }
  }
}
