@import "../scss/variables.scss";
@import "../components/navBar/navBar.scss";
@import "../components/Footer/footer.scss";
@import "../components/Containers/ItemListContainer/itemListContainer.scss";
@import "../components/ItemList/itemList.scss";
@import "../components/Containers/ItemDetailContainer/itemDetailContainer.scss";
@import "../components/Containers/ItemCategoryContainer/itemCategoryContainer.scss";
@import "../components/Item/item.scss";
@import "../components/ItemCount/itemCounter.scss";
@import "../components/ItemDetail/itemDetail.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: $dark;
  font-size: 1em;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
