@import "../scss/variables.scss";
@import "../components/navBar/navBar.scss";
@import "../components/Footer/footer.scss";
@import "../components/Containers/ItemListContainer/itemListContainer.scss";
@import "../components/ItemList/itemList.scss";
@import "../components/Containers/ItemDetailContainer/itemDetailContainer.scss";
@import "../components/Item/item.scss";
@import "../components/ItemCount/itemCounter.scss";
@import "../components/ItemDetail/itemDetail.scss";
@import "../components/Modals/modals.scss";
@import "../components/Forms/formCart.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1em;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
