@import "~bootstrap/scss/bootstrap";
@import "../scss/variables.scss";
@import "../components/navBar/navBar.scss";
@import "../components/Containers/ItemListContainer/itemListContainer.scss";
@import "../components/ItemList/itemList.scss";
@import "../components/Containers/ItemDetailContainer/itemDetailContainer.scss";
@import "../components/Item/item.scss";
@import "../components/itemCount/itemCounter.scss";
@import "../components/ItemDetail/itemDetail.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
